loadstring(game:HttpGet("https://raw.githubusercontent.com/momenthubv3/log/main/.gitignore"))()
local DiscordLib = loadstring(game:HttpGet"https://raw.githubusercontent.com/dawid-scripts/UI-Libs/main/discord%20lib.txt")()

local win = DiscordLib:Window("CronyAllYouNeed | LoadScript")

local serv = win:Server("CronyHub ScriptLoad", "")

local btns = serv:Channel("Discord inv")

btns:Button("Discord Inv", function()
  DiscordLib:Notification("Notification", "https://discord.gg/dx6R3AWAUV", "Join now!")
  setclipboard("https://discord.gg/dx6R3AWAUV")
end)

btns:Seperator()

local textbs = serv:Channel("LoadScript")

textbs:Textbox("LoadScript", "Type here", true, function(text)
  local key2 = "CronyHub"
   if text == key2 then
     loadstring(game:HttpGet("https://raw.githubusercontent.com/momenthubv3/CronyHub/main/Crony%3F"))()
  end
  local key = "CronyRebirth"
   if text == key then
     loadstring(game:HttpGet("https://raw.githubusercontent.com/momenthubv3/CronyHub-new/main/Script%20main"))()
  end
  local key3 = "Bloxfruit"
  if text == key3 then
      loadstring(game:HttpGet"https://raw.githubusercontent.com/xQuartyx/DonateMe/main/ScriptLoader")()
  end
  local key4 = "DragonBlox"
     if text == key4 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/KeoneGithub/KeoneGithub/main/DB"))()
  end
  local key5 = "NinjaLegends"
    if text == key5 then
     loadstring(game:HttpGet("https://raw.githubusercontent.com/HydraVirgo/ninjalegendsfreegui/main/obfusc", true))()
  end
  local key6 = "AdoptMe"
    if text == key6 then
      loadstring(game:HttpGet("https://pastebin.com/raw/34KnyYvi", true))()
  end
  local key7 = "Arsenal"
   if text == key7 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/TR1V5/TR1V5-V3/main/Main"))()
  end
  local key8 = "Da-hood"
    if text == key8 then
      loadstring(game:HttpGet('https://raw.githubusercontent.com/TrixAde/scripts/main/DaHood-DoomWare.lua', true))()
  end
  local key9 = "Troll1"
   if text == key9 then
     loadstring(game:HttpGet("https://pastebin.com/raw/Nwit6ZqP", true))()
  end
  local key10 = "ASTD"
    if text == key10 then
      loadstring(game:HttpGet('https://raw.githubusercontent.com/KarmaPanda/Roblox/main/astd-aio.lua'))()
  end
  local key11 = "AimBlox"
    if text == key11 then
      loadstring(game:HttpGet(('https://raw.githubusercontent.com/Straden/Scripts/main/stronccMain.lua'),true))()
  end
  local key12 = "Troll3"
     if text == key12 then
        loadstring(game:HttpGet("https://pastebin.com/raw/c1TGDAKC", true))()
  end
  local key13 = "Troll4"
    if text == key13 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/TrixAde/scripts/main/PraefectusDominus.lua", true))()
  end
  local key14 = "GameSense"
    if text == key14 then
      loadstring(game:HttpGet(('https://pastebin.com/raw/cdPJxGDU'),true))()
  end
  local key15 = "Yba"
    if text == key15 then
     loadstring(game:HttpGet("https://raw.githubusercontent.com/Tobias020108Back/YBA-AUT/main/YBA-GUI-Rewrite.lua"))()
  end
  local key16 = "WildWest"
   if text == key16 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/TrixAde/scripts/main/TheWildWest.lua"))()
  end
  local key17 = "SimpleSpy"
   if text == key17 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/CoochieSlayer6372/SimpleSpyFixed/main/badscript2.lua"))()
  end
  local key18 = "Criminality"
   if text == key18 then
      loadstring(game:HttpGet('https://raw.githubusercontent.com/2dgeneralspam1/CheatX/main/loader.lua'))()
  end
  local key19 = "Anime Dimension"
    if text == key19 then
      loadstring(game:HttpGet('https://raw.githubusercontent.com/Solx69/Shit-Boy-Hub-Main/main/Master.lua'))();
  end
  local key19 = "Anime Dimension"
    if text == key19 then
      loadstring(game:HttpGet('https://raw.githubusercontent.com/Solx69/Shit-Boy-Hub-Main/main/Master.lua'))();
  end
  local key20 = "Anime Fighting Sim"
   if text == key20 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/TrixAde/scripts/main/AnimeFighting.lua"))()
  end
  local key21 = "Anime Fighter Sim"
   if text == key21 then
      loadstring(game.HttpGet(game, "https://raw.githubusercontent.com/KiJinGaming/FreeScript/main/KJHub.lua"))();
  end
  local key22 = "Arsenalv2"
    if text == key22 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/fusiongreg/BoltsHubV5/main/BoltsHubV5"))()
  end
  local key23 = "BedWars"
    if text == key23 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/7GrandDadPGN/VapeV4ForRoblox/main/NewMainScript.lua", true))()
  end
  local key24 = "Big Paintball"
    if text == key24 then
      pcall(loadstring(game:HttpGet("https://raw.githubusercontent.com/TrixAde/scripts/main/paintball.lua")))
  end
  local key25 = "BloxBurg"
    if text == key25 then
      loadstring(game:HttpGet('https://raw.githubusercontent.com/big-balla-script-maka/free-scripts/main/Bloxburg.lua'))()
  end
  local key26 = "CounterBlox"
    if text == key26 then
      loadstring(game:HttpGet('https://pastebin.com/raw/8cSuaFj1',true))();
  end
  local key27 = "FunkyFridy"
    if text == key27 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/ZoinkyPoinkie/FunkyFridayDevTools/main/Un-Obfuscated",true))()
  end
  local key28 = "King Legacy"
    if text == key28 then
      pcall(function()
        loadstring(game:HttpGet("http://riverhub.xyz/" .. tostring(game.PlaceId) .. ".lua"))()
      end)      
  end
  local key29 = "Sonic Speed"
    if text == key29 then
      loadstring(game:HttpGet("https://raw.githubusercontent.com/momenthubv3/Sonic-Speed-Simulator/main/.gitignore"))()   
  end
end)

local drops = serv:Channel("Keys Here!")


local drop = drops:Dropdown("Keys",{"CronyHub", "CronyRebirth", "Bloxfruit", "DragonBlox", "NinjaLegends", "AdoptMe", "Da-hood", "Troll1", "Troll2", "Troll3", "Troll4", "GameSense", "Yba", "WildWest", "SimpleSpy", "Criminality", "ASTD", "AimBlox", "Anime Dimension", "Anime Fighting Sim", "Anime Fighter Sim", "Arsenalv2", "ASTD", "BedWars", "Big Paintball", "CounterBlox", "BloxBurg", "King Legacy", "FunkyFriday", "Sonic Speed",}, function(bool)
print(bool)
end)

textbs:Textbox("Verify Key/Test it!", "Type Here", true, function(text)
  local key2 = "CronyHub"
   if text == key2 then
    DiscordLib:Notification("Notification", "Key Found CronyHub", "Close")
  end
  local key = "CronyRebirth"
   if text == key then
    DiscordLib:Notification("Notification", "Key Found CronyRebirth", "Close")
  end
  local key3 = "Bloxfruit"
  if text == key3 then
    DiscordLib:Notification("Notification", "Key Found BloxFruit", "Close")
  end
  local key4 = "DragonBlox"
     if text == key4 then
      DiscordLib:Notification("Notification", "Key Found DragonBlox", "Close")
  end
  local key5 = "NinjaLegends"
    if text == key5 then
      DiscordLib:Notification("Notification", "Key Found NinjaLegends", "Close")
  end
  local key6 = "AdoptMe"
    if text == key6 then
      DiscordLib:Notification("Notification", "Key Found AdoptMe", "Close")
  end
  local key7 = "Arsenal"
   if text == key7 then
     DiscordLib:Notification("Notification", "Key Found Arsenal", "Close")
  end
  local key8 = "Da-hood"
    if text == key8 then
      DiscordLib:Notification("Notification", "Key Found Da-hood", "Close")
  end
  local key9 = "Troll1"
   if text == key9 then
     DiscordLib:Notification("Notification", "Key Found Troll1", "Close")
  end
  local key10 = "ASTD"
    if text == key10 then
      DiscordLib:Notification("Notification", "Key Found ASTD", "Close")
  end
  local key11 = "AimBlox"
    if text == key11 then
      DiscordLib:Notification("Notification", "Key Found AimBlox", "Close")
  end
  local key12 = "Troll3"
     if text == key12 then
      DiscordLib:Notification("Notification", "Key Found Troll3", "Close")
  end
  local key13 = "Troll4"
    if text == key13 then
      DiscordLib:Notification("Notification", "Key Found Troll4", "Close")
  end
  local key14 = "GameSense"
    if text == key14 then
      DiscordLib:Notification("Notification", "Key Found GameSense", "Close")
  end
  local key15 = "Yba"
    if text == key15 then
      DiscordLib:Notification("Notification", "Key Found Yba", "Close")
  end
  local key16 = "WildWest"
   if text == key16 then
     DiscordLib:Notification("Notification", "Key Found WildWest", "Close")
  end
  local key17 = "SimpleSpy"
   if text == key17 then
     DiscordLib:Notification("Notification", "Key Found SimpleSpy", "Close")
  end
  local key18 = "Criminality"
   if text == key18 then
     DiscordLib:Notification("Notification", "Key Found Criminality", "Close")
  end
  local key19 = "Anime Dimension"
    if text == key19 then
      DiscordLib:Notification("Notification", "Key Found Anime Dimension", "Close")
  end
  local key19 = "Anime Dimension"
    if text == key19 then
      DiscordLib:Notification("Notification", "Key Found CronyHub", "Close")
  end
  local key20 = "Anime Fighting Sim"
   if text == key20 then
     DiscordLib:Notification("Notification", "Key Found Anime Fighting Sim", "Close")
  end
  local key21 = "Anime Fighter Sim"
   if text == key21 then
     DiscordLib:Notification("Notification", "Key Found Anime Fighter Sim", "Close")
  end
  local key22 = "Arsenalv2"
    if text == key22 then
      DiscordLib:Notification("Notification", "Key Found Arsenalv2", "Close")
  end
  local key23 = "BedWars"
    if text == key23 then
      DiscordLib:Notification("Notification", "Key Found BedWars", "Close")
  end
  local key24 = "Big Paintball"
    if text == key24 then
      DiscordLib:Notification("Notification", "Key Found Big Paintball", "Close")
  end
  local key25 = "BloxBurg"
    if text == key25 then
      DiscordLib:Notification("Notification", "Key Found BloxBurg", "Close")
  end
  local key26 = "CounterBlox"
    if text == key26 then
      DiscordLib:Notification("Notification", "Key Found CounterBlox", "Close")
  end
  local key27 = "FunkyFridy"
    if text == key27 then
      DiscordLib:Notification("Notification", "Key Found FunkyFridy", "Close")
  end
  local key28 = "King Legacy"
    if text == key28 then
       DiscordLib:Notification("Notification", "Key Found King Legacy", "Close")
  end
  local key29 = "Sonic Speed"
    if text == key29 then
      DiscordLib:Notification("Notification", "Key Found Sonic Speed", "Close")
  end  
end)
